@using static NewKaratIk.Models.CustomModels.InterviewUser
@using static NewKaratIk.Models.CustomModels.Aday

@{
    ViewData["Title"] = "IseAlim";
}

<style>
    .select2-selection__arrow {
        display: none;
    }
</style>

@model AdayInterviewModelView

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-validation.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-wizard.css">
<!-- END: Page CSS-->
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/wizard/bs-stepper.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/select/select2.min.css">
<!-- END: Vendor CSS-->
<!-- Vertical Wizard -->

<section class="vertical-wizard bg-white shadow p-2 rounded">

    <nav class="nav nav-pills flex-column flex-sm-row mb-2 ">
        <a class="flex-sm-fill text-sm-center nav-link " asp-action="OpenPozitions" asp-controller="Recruitment"><i class="fas fa-list"></i> &nbsp; Açık Pozsiyonlar Listesi</a>
        <a href="#" class="flex-sm-fill text-sm-center nav-link active "><b><i class="fas fa-user-tag"></i></b>  &nbsp; İşe Alım işlemleri </a>
    </nav>

    <div class="bs-stepper vertical vertical-wizard-example shadow-none">



        <div class="bs-stepper-header">
            <div class="step" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">1</span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Aday Bilgileri</span>
                        <span class="bs-stepper-subtitle">Yeni Aday Ekle</span>
                    </span>
                </button>
            </div>
            <div class="step" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">2</span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Mülakat Bilgileri</span>
                        <span class="bs-stepper-subtitle">Yeni Mülakat Ekle</span>
                    </span>
                </button>
            </div>
            <div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">3</span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Mülakat Değerlendirme </span>
                        <span class="bs-stepper-subtitle">Değerlendirilecek Mülakatlar Listesi</span>
                    </span>
                </button>
            </div>
            <div class="step" data-target="#Adaylar" role="tab" id="address-step-vertical-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">4</span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title"> Değerlendirilmeyen Adaylar </span>
                        <span class="bs-stepper-subtitle">Değerlendirilecek Adaylar Listesi</span>
                    </span>
                </button>
            </div>

        </div>

        <div class="bs-stepper-content">

            <!-- Aday Ekle -->
            <div id="account-details-vertical" class="content" role="tabpanel" aria-labelledby="account-details-vertical-trigger">
                <div class="content-header">
                    <h5 class="mb-0">Aday Bilgileri </h5>
                    <small class="text-muted">İlgili Adayın Bilgilerini Giriniz</small>
                </div>

                <form asp-action="IseAlim" asp-controller="Recruitment" method="post" class="form-group" enctype="multipart/form-data">

                    <div class="row">
                        <div class="mb-1 col-md-6">
                            <label class="form-label" for="vertical-username"> Aday Adı Soyadı :</label>
                            <input type="text" name="NameSurname" asp-for="Aday.NameSurname" class="form-control" placeholder="Ad Soyad" required />
                        </div>

                        <div class="mb-1 col-md-6">
                            <label class="form-label" for="vertical-email">Email</label>
                            <input type="email" name="Email" asp-for="Aday.Email" required class="form-control" placeholder="john.doe@email.com" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-1 col-md-6">
                            <label class="form-label">Telefon Numarası :</label>
                            <input type="tel" name="Tel" asp-for="Aday.Tel" placeholder="05XXXXXXXXX" class="form-control" required />
                        </div>
                        <div class="mb-1 -toggle col-md-6">
                            <label class="form-label">Aday CV</label>

                            <input type="file" name="CV" multiple asp-for="Aday.CV" class="form-control" required />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6 col-12 ">
                            <label class="form-label"> Aday Durumu</label>
                            <select id="someIdForTheEndPoint" name="Status" asp-for="Aday.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusEnum>()">
                            </select>
                        </div>

                        <div class=" col-lg-6 col-12  ">
                            <label class="form-label" for="country">Pozsiyon Seçin</label>
                            <select name="PozisyonId" class="select2 form-select" asp-for="Aday.PozisyonId" asp-items="@(new SelectList(Model.PozisyonListVM.Where(x=>x.Status==true),"Id","Name"))">
                            </select>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-12 mt-1">
                            <input type="checkbox" name="KvkkOnayi" class="form-check-input" asp-for="Aday.KvkkOnayi">
                            <label class="form-check-label"> &nbsp; KVKK Onayı var mı ? ( varsa işaretle ) </label>
                        </div>
                    </div>

                    @if ((string)TempData["success"] == "hi")
                    {
                        <div class="alert alert-success alert-dismissible fade show p-2" role="alert">
                            <strong>Aday Bilgileri Başarı ile Kaydedilmiştir.</strong>
                            <a href="/Adaylar/Index"> Adaylar Listesine Git</a>
                            <button type="button" class="btn-close btn-dark " data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div align="center">
                        <button type="submit" class="btn btn-outline-secondary btn-success"> kaydet &nbsp; <i class="fas fa-save fa-lg"></i></button>
                    </div>
                </form>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-secondary btn-prev" disabled>
                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Önceki</span>
                    </button>
                    <button class="btn btn-primary btn-next">
                        <span class="align-middle d-sm-inline-block d-none">Sonraki</span>
                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                    </button>
                </div>

            </div>
            <!-- Aday Ekle -->
            <!-- Mülakat Ekle -->
            <div id="personal-info-vertical" class="content" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                <div class="content-header">
                    <h5 class="mb-0">Mülakat Bilgileri</h5>
                    <small>Mülakat Bilgilerini Giriniz : </small>
                </div>
                <form method="post" id="repeater_form">

                    <div id="data"></div>

                    <div class="row">

                        <div class="mb-1 col-md-6">
                            <label class="form-label">Mülakat Tarihi ve Saati</label>
                            <input class="form-control" name="inerviewDate" type="datetime-local" required />
                        </div>

                        <div class="mb-1 col-md-6">
                            <label class="form-label" for="country">Aday Seçin</label>
                            <select name="adaylar" id="adaylar" required class="select2 form-select" value="@Model.Aday.Id" asp-items="@(new SelectList(Model.AdayListVM,"Id","NameSurname"))">
                                <option value="" selected>Seç</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div id="repeater2">
                            <div class="repeater-heading mt-2">
                                <label>Mülakata Katılanlar : </label>
                                <div align="right"> <button id="employeeEkle" type="button" class="btn btn-primary repeater-add-btn">Katılımcı Ekle</button></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="items" data-group="programming_languages">
                                <div class="item-content">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-5" id="katilan">
                                                <label>Katılımcı Seç : </label>
                                                <select data-skip-name="true" required data-name="katilanlar" class="select2 form-select" value="@Model.User.Id" asp-items="@(new SelectList(Model.UserList.Where(x=>x.Status==true),"Id","NameSurname"))">
                                                    <option value="" selected>Seç</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-check-label"> Tek. Nit. Değerlendirecek mi </label><br>

                                                <select data-skip-name="true" required data-name="IsTeknik" class="form-control" asp-items="Html.GetEnumSelectList<IsTeknikEnum>()">
                                                    <option value="" selected>Seç</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3" style="margin-top:24px;" align="center">
                                                <button id="remove-btn" onclick="$(this).parents('.items').remove()" class="btn btn-danger">Sil &nbsp; <i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Email Bilgileri</p>
                    </div>
                    <div class="row">

                        <div class="alert alert-primary p-1" role="alert">
                            Mülakat Şirkette yapılacaksa bu linki Mülakat yeri alanına yapıştırabilirsiniz. <span class="text-dark">https://goo.gl/maps/JGCCxUZrzj3K39Rk9 </span>
                        </div>

                        <div class="mb-1 col-md-12">
                            <label class="form-label">Mülakat Yeri </label>
                            <input class="form-control" name="yer" type="text" required />
                        </div>


                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Ilave Not (Zorunlu değil) </label>
                            <textarea name="ilaveNot" class="form-control"></textarea>
                        </div>
                    </div>

                    <div id="msg" class="alert alert-success alert-dismissible fade show p-2" role="alert" style="display:none;">

                        <button type="button" class="btn-close btn-dark " data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div id="msg2" class="alert alert-danger alert-dismissible fade show p-2" role="alert" style="display:none;">

                        <button type="button" class="btn-close btn-dark " data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div align="center">
                        <button type="submit" class="btn btn-outline-secondary btn-success"> kaydet & Mail Gönder &nbsp; <i class="fas fa-save fa-lg"></i></button>
                    </div>
                </form>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-prev">
                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Önceki</span>
                    </button>
                    <button class="btn btn-primary btn-next">
                        <span class="align-middle d-sm-inline-block d-none">Sonraki</span>
                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                    </button>
                </div>

            </div>
            <!-- End Mülakat Ekle -->
            <!-- Mülakat Değerlendirme   -->

            <div id="address-step-vertical" class="content" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                <div class="content-header">
                    <h5 class="mb-0">Mülakat Değerlendirme</h5>
                    <small>Değerlendirmek istediğiniz Mülakat Seçin</small>
                </div>
                <div class="mb-3">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mülakat Tarihi</th>
                                    <th scope="col">Aday Adı</th>
                                    <th scope="col">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InterviewUserListVM.Where(x => x.UserId == ViewBag.UserId))
                                {
                                    @foreach (var item2 in Model.InterviewListVM.Where(x => x.Id == item.interviewId))
                                    {
                                        var IsEvaluate = Model.MulakatDegerlendirmeListVM.Where(x => x.mulakId == item2.Id && x.userId == ViewBag.UserId).Count();
                                        if (IsEvaluate == 0)
                                        {
                                            <tr>
                                                <th scope="row">@item2.interviewDate</th>
                                                <td>@item2.Aday.NameSurname</td>
                                                <td><a href="/Mulakatlar/AdayDegerlendirme/@item2.Id" class="btn btn-success">Değerlendir</a></td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-prev">
                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Önceki</span>
                    </button>
                    <button class="btn btn-primary btn-next">
                        <span class="align-middle d-sm-inline-block d-none">Sonraki</span>
                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                    </button>
                </div>
            </div>
            <!-- Mülakat Değerlendirme   -->
            <!-- Değerlendirilemeyen Adaylar   -->
            <div id="Adaylar" class="content" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                <div class="content-header">
                    <h5 class="mb-0">Aday Değerlendirme</h5>
                    <small>Adaylar ile ilgili işlemlerinizi <a href="/Adaylar/Index">Aday İşlemleri</a> Sayfasından Devam edebilirsiniz </small>
                </div>
                <div class="mb-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Aday Adı Soyadı </th>
                                    <th scope="col">Pozisyon Adı</th>
                                    <th scope="col">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AdayListVM.Where(x => x.Status == "1"))
                                {

                                    <tr>
                                        <th scope="row">@item.NameSurname</th>
                                        <td>@item.Pozisyon.Name</td>
                                        <td>
                                            <a class="btn btn-success mb-1" data-bs-toggle="modal" data-bs-target="#olumluModal_@item.Id">

                                                <span>Olumlu</span>
                                            </a>

                                            <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.Id">

                                                <span>Olumsuz</span>
                                            </a>
                                            <!--Olumlsuz Modal -->
                                        <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-warning">
                                                            <h5 class="modal-title text-white" id="exampleModalLabel">Uyarı !</h5>

                                                            <a class="fa fa-times" onclick="hidModal()" data-bs-dismiss="modal" aria-label="Close"></a>

                                                        </div>
                                                        <div class="modal-body">
                                                            @item.NameSurname'ı Olumsuz olarak değerlendirmek istediğinizden emin misiniz ? (Adaya Mail Gönderilecek)
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                                            <a href="/Adaylar/olumsuzAday/@item.Id" class="btn btn-success">Evet</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Olumlsuz Modal -->
                                            <!-- Olumlu Modal -->
                                        <div class="modal fade" id="olumluModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-success">
                                                            <h5 class="modal-title text-white" id="exampleModalLabel">Teyit</h5>

                                                            <a class="fa fa-times" onclick="hidModal()" data-bs-dismiss="modal" aria-label="Close"></a>

                                                        </div>
                                                        <div class="modal-body">
                                                            @item.NameSurname'ı Olumlu olarak değerlendirmek istediğinizden emin misiniz ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                                            <a href="/Adaylar/olumluAday/@item.Id" class="btn btn-success">Evet</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Olumlu Modal -->
                                    </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-prev">
                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Önceki</span>
                    </button>

                    <button class="btn btn-outline-secondary btn-prev" disabled>
                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Sonraki</span>
                    </button>
                </div>
            </div>
            <!-- Değerlendirilemeyen Adaylar   -->

        </div>
    </div>
    <div id="modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-white">Uyarı !</h5>
                    <a class="fa fa-times" onclick="hidModal()" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="hidModal()" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="Spinnerloading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- /Vertical Wizard -->
@section Scripts{
<!-- BEGIN: Page Vendor JS-->
<script src="../../../app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="../../../app-assets/js/scripts/forms/form-wizard.js"></script>

}

<script>


     $(document).ready(function(){



     $('#repeater2').createRepeater();
     // Start Submit Form
     $('#repeater_form').on('submit', function(event){

     event.preventDefault();


     var MulakatDate;
     var adayId;
     var PozId;
     var katilanlarList=[];
     var subject;
     var yer;
     var ilaveNot;

     jQuery.each( $(this).serializeArray(), function( i, field ) {

     var katilanlarobj={};
     if(field.name=="yer"){
        yer=field.value;
     }

     if(field.name=="ilaveNot"){
        ilaveNot=field.value;
     }

     if(field.name=="inerviewDate"){
        MulakatDate=field.value;
     }


     if(field.name=="adaylar"){
          adayId=field.value;
     }
     if(field.name=="pozisyonlar"){
          PozId=field.value;
     }

     if(field.name=="katilanlar"){

      katilanlarobj.UserId=field.value;
      katilanlarList.push(katilanlarobj);
     }
     if(field.name=="IsTeknik"){
           katilanlarobj.IsTeknik=field.value;
           katilanlarList.push(katilanlarobj);
     }

     });
      var katilanlar =[];
              var a=true;
              for (var j = 0; j < katilanlarList.length; j++){
                       if(a==true){
                       var mergskills={...katilanlarList[j],...katilanlarList[j+1]}
                       katilanlar.push(mergskills);
                       }
                       a=!a;
                }
     // end jQuery.each -----------


      // çalışan tekrarı
               var tekrar=false;
               for (var j = 0; j < katilanlar.length; j++){

                      for (var i = j+1; i < katilanlar.length; i++){
                         if(katilanlar[j].UserId==katilanlar[i].UserId){
                             tekrar=true;
                             break;
                         }
                      }
               }
    // çalışan tekrarı
    var x = document.getElementById("modal");
     if(tekrar==true){

          x.style.display = "block";
          $(".modal-body>p").append(" aynı Çalışanı Birden Fazla ekleyemezsiniz !");
     }
     else{

     $('#Spinnerloading').css('display', 'block');
     var myData= [{ "Subject":subject,"ilaveNot":ilaveNot,"Yer":yer,"interviewDate":MulakatDate,"InterviewUsers":katilanlar ,"AdayId":adayId,"PozId":PozId }];
     console.log(myData);

     $.ajax({

         url:"/Mulakatlar/CreateMulakat",
         method:"POST",
         data:JSON.stringify(myData) ,
         contentType: 'application/json;',
         dataType: 'json',
         success:function(data)
         {
             if(data=="empty"){
                          $('#Spinnerloading').css('display', 'none');

                          $("#msg").css("display","none");
                          $("#msg2").empty();
                          $("#msg2").css("display","block");
                          $("#msg2").append(" Mülakat Eklenemedi ! En Az Bir Katılımcı Eklemeniz Lazım ! ");


             }else{
                     $('#Spinnerloading').css('display', 'none');
                     $("#msg2").css("display","none");
                     $("#msg").css("display","block");
                     $("#msg").append(" Mülakat Başarı ile Kaydedilmiştir ")

                     $('#repeater_form')[0].reset();
                     $('#repeater').createRepeater();
                     $('#repeater2').createRepeater();
                     setTimeout(function(){ location.reload(); }, 1000);
             }

         }
     });
     //end Ajax -----------------
     }

     });
     // End0
     //    Submit Form  --------------

     });
     //--------------- End  document (ready)
</script>



