@using static NewKaratIk.Models.CustomModels.Pozisyon

@{
    ViewData["Title"] = "Create";
}

@model PozisyonViewModel
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-validation.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-wizard.css">
<!-- END: Page CSS-->
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/wizard/bs-stepper.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/select/select2.min.css">
<!-- END: Vendor CSS-->
<!-- Vertical Wizard -->
<style>
    .select2-selection__arrow {
        display: none;
    }
</style>

<div class="bg-white p-2 rounded shadow  ">

    <nav class="nav nav-pills flex-column flex-sm-row mb-2">
        <a class="flex-sm-fill text-sm-center nav-link " aria-current="page" asp-controller="Pozisyon" asp-action="Index">Tüm Pozisyonlar Listesi</a>
        <a asp-action="Create" asp-controller="Pozisyon" class="flex-sm-fill text-sm-center nav-link active"><b><i class="fa fa-plus"></i></b>  &nbsp; Yeni Pozsiyon Ekle </a>

    </nav>

    <div class="" style="width:100%;  margin:0 auto; max-width: 1000px;">

        <h4 class="my-2"><b>Yeni Pozisyon Ekleme :</b></h4>

        <div id="success_result"></div>

        <form method="post" id="repeater_form">

            <div class="form-group" id="pozAd">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-lg-0 mb-2">
                        <label>   Pozisyon Adı : </label>
                        <input required name="pozName" type="text" class="form-control">
                    </div>
                    <div class="col-lg-6 col-12">
                        <label>   Pozisyon Kişi Sayısı : </label>
                        <input required name="pozSayisi" type="number" id="pozz" class="form-control">
                    </div>

                </div>

            </div>


            <div id="repeater">

                <div class="repeater-heading mt-2">

                    <label>Pozisyon Nitelikleri : </label>
                    <div align="right"> <button type="button" class="btn btn-primary repeater-add-btn">Nitelik Ekle</button></div>

                </div>
                <div class="clearfix"></div>
                <div class="items" data-group="programming_languages">
                    <div class="item-content">
                        <div class="form-group">
                            <div class="row">
                                <div id="nitelikler" class="col-md-5 mb-lg-0 mb-2">
                                    <label>Nitelik Adı : </label>
                                    <input required data-skip-name="true" data-name="nitelikAdi" type="text" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label>   Ağırlığı : </label>
                                    <input required data-skip-name="true" data-name="score" type="number" class="form-control" min="1">
                                </div>

                                <div class="col-md-3" style="margin-top:24px;" align="center">
                                    <button id="remove-btn" onclick="$(this).parents('.items').remove()" class="btn btn-danger">Sil &nbsp; <i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">

                <label class="form-label">Görev Tanımı</label>
                <textarea name="GorevTanimi" class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group mt-2">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-lg-0 mb-2" id="dep">
                        <label class="form-label">Bağlı Olduğu Departman</label>
                        <select id="depart" name="departman" class="select2 form-select" value="@Model.Department.Id" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))">
                        </select>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label class="form-label">Seviye</label>
                        <select id="someIdForTheEndPoint" name="seviye" class="form-control" asp-items="Html.GetEnumSelectList<SeviyeEnum>()">
                        </select>

                    </div>

                </div>


            </div>


            <div class="form-group mt-2 " id="yonetici">
                <label class="form-label">Bağlı Olduğu Yönetici</label>
                <select name="manager" class="select2 form-select" value="@Model.User.Id" asp-items="@(new SelectList(Model.UserList.Where(x=>x.Status==true),"Id","NameSurname"))">
                </select>
            </div>

            <div id="repeater2">
                <div class="repeater-heading mt-2">
                    <label>Bu Pozisyonda Çalışan kişi/ler : </label>
                    <div align="right"> <button id="employeeEkle" type="button" class="btn btn-primary repeater-add-btn">Çalışan Ekle</button></div>
                </div>
                <div class="clearfix"></div>
                <div class="items" data-group="programming_languages">
                    <div class="item-content">
                        <div class="form-group">
                            <div class="row mb-1">
                                <div id="employee" class="col-md-9">
                                    <label>Çalışan Adı : </label>

                                    <select data-skip-name="true" name="employee" data-name="employee" class="select2 form-select" value="@Model.User.Id" asp-items="@(new SelectList(Model.UserList.Where(x=>x.Status==true),"Id","NameSurname"))">
                                    </select>
                                </div>

                                <div class="col-md-3" style="margin-top:24px;" align="center">
                                    <button id="remove-btn" onclick="$(this).parents('.items').remove()" class="btn btn-danger">Sil &nbsp; <i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="msg" class="alert alert-success p-2 mt-2" style="display:none;" role="alert"></div>
            <div id="msg2" class="alert alert-danger p-2 mt-2" style="display:none;" role="alert"></div>
            @if ((string)TempData["mevcut"] == "mevcut")
            {
                <div class="alert alert-danger alert-dismissible fade show p-2" role="alert">
                    <strong>bu Pozisyon Zaten var ! .</strong>
                    <button type="button" class="btn-close btn-dark " data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="clearfix"></div>
            <div class="form-group" align="center">
                <br /><br />
                <input type="submit" name="insert" class="btn btn-success" value="Kayıdet" />
            </div>
        </form>
    </div>

</div>


<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white">Uyarı !</h5>
                <a class="fa fa-times" onclick="hidModal()" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="hidModal()" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                
            </div>
        </div>
    </div>
</div>
<!-- /Vertical Wizard -->
@section Scripts{
<!-- BEGIN: Page Vendor JS-->
<script src="../../../app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="../../../app-assets/js/scripts/forms/form-wizard.js"></script>

}

<script>
       

        $(document).ready(function(){

            $('#repeater').createRepeater();
            $('#repeater2').createRepeater();


            // Start Submit Form
            $('#repeater_form').on('submit', function(event){
               event.preventDefault();
               console.log($(this).serializeArray());

               var pozName;

               var nitelikList=[];
               var gorevTanimi;
               var departman;
               var seviye;
               var manager;
               var UserList=[];
               var pozSayisi;



               jQuery.each( $(this).serializeArray(), function( i, field ) {

                 var nitelikObj={};
           


                  if(field.name=="pozName"){
                      pozName=field.value;
                  }
                   if(field.name=="pozSayisi"){
                      pozSayisi=field.value;
                  }

                  if(field.name=="nitelikAdi"){

                      nitelikObj.Name=field.value;

                      nitelikList.push(nitelikObj);
                  }
                  if(field.name=="score"){

                      nitelikObj.Score=field.value;
                      nitelikList.push(nitelikObj);
                  }

                  if(field.name=="GorevTanimi"){
                      gorevTanimi=field.value;
                  }
                  if(field.name=="departman"){
                      departman=field.value;
                  }
                  if(field.name=="seviye"){
                      seviye=field.value;
                  }
                  if(field.name=="manager"){
                      manager=field.value;
                  }
                  if(field.name=="employee"){

                      UserList.push(field.value);
                  }
              });
              // end jQuery.each -----------


              var nitelikler =[];
              var a=true;
              for (var j = 0; j < nitelikList.length; j++){
                       if(a==true){
                       var mergskills={...nitelikList[j],...nitelikList[j+1]}
                       nitelikler.push(mergskills);
                       }
                       a=!a;
                }
                //console.log(listem);

                var toplam=0;
                for (var j = 0; j < nitelikler.length; j++){

                       toplam+= parseInt(nitelikler[j].Score);

                }
                // çalışan tekrarı
                var tekrar=false;
                for (var j = 0; j < UserList.length; j++){


                       for (var i = j+1; i < UserList.length; i++){
                          if(UserList[j]==UserList[i]){
                              tekrar=true;
                              break;
                          }
                       }
                }
                 // çalışan tekrarı


                 var x = document.getElementById("modal");
                if(toplam!=100)
                  {
                      x.style.display = "block";
                      $(".modal-body>p").append("Nitelilk ağırlıklarının toplamı 100 olması lazım !");
                  }
                  else if(tekrar==true){
                      
                      x.style.display = "block";
                      $(".modal-body>p").append(" Aynı çalışanı birden fazla ekleyemezsiniz !");
                  }
                else{
                      var myData= [{ "Name": pozName, "NitelikList": nitelikler ,"GorevTanimi":gorevTanimi,"DepartmentId":departman,"Seviye":seviye,"ManagerId":manager ,"UserList":UserList ,"pozSayisi":pozSayisi}];
                       console.log(myData);

                       $.ajax({

                          url:"/Pozisyon/CreatePozisyon",
                          method:"POST",
                          data:JSON.stringify(myData) ,
                          contentType: 'application/json;',
                          dataType: 'json',
                          success:function(data)
                          {

                              $("#msg").css("display","block");
                              $("#msg").append("Pozsiyon Başarı ile Kayıd edildi ")

                              $('#repeater_form')[0].reset();
                              $('#repeater').createRepeater();
                              $('#repeater2').createRepeater();
                              setTimeout(function(){ location.reload(); }, 2000);
                              }
                  });
                  //end Ajax -----------------
               }
            });

            //    Submit Form  --------------

        });
        //--------------- End  document (ready)
</script>






